body {
    font-family: sans-serif;
    color: black;
    height: 100%;
    /*width: 100%;*/
    padding: 0;
    margin: 0;
    background-color: black;
    font-size: 10pt;
}


th {
    padding-right: 3px;
    padding-left: 3px;
    border-bottom: 1px solid;
    color: white;
}

td {
    vertical-align: top;
}

tr {
    font-size: 10px;
    line-height: 12px;
    color: #8d9292;
 }

#detailsTable td {
    vertical-align: middle;
    padding: 2px;
}

#detailsTable {
    margin: auto;
}

#detailsTable tr {
    white-space: nowrap;
}

div.graph {
    float: left;
    width: 100%;
}

td.label {
    text-align: right;
}

span.value {
    color:#fef55f;
}